.modalContent {
    position: relative;
    // border-radius: 8px;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto; /* центрирование модального окна */
    // background: var(--modal-color);
    // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* затемнение фона */
    display: flex;
    justify-content: center;
    align-items: center; /* центрирование содержимого */

}